@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    color: white;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    background-image: linear-gradient(0deg, rgba(52,67,80,1) 0%, rgba(18,34,47,1) 70%);
}

.nav-bar {
    width: 100%;
    background-image: linear-gradient(90deg, rgba(15,1,1,1) 29%, rgba(17,4,4,1) 66%);;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    border-radius: 2%;
}

.site-name {
    color: fuchsia;
    font-weight: bolder;
    font-size: xx-large;
    margin-top: 0px;
    margin-left: 30px;
    text-shadow: 0px 0px 4px dodgerblue;
}

.helper-div {
    margin: auto;
    width: 50%;

    p {
        margin-top: 1em;
        margin-bottom: 1em;
        padding: 0;
        text-align: center;
        font-weight: bold;
        color: rgba(255, 255, 255, 0.3);
        font-size: small;
    }
}
.helper-text:hover {
    color: rgba(255, 255, 255, 1);
}

.xg-counter {
    font-family: 'Poppins';
    display: flex;
    justify-content: center;
    font-size: xx-large;
    align-items: center;
    h3 {
        text-shadow: 0px 0px 4px rgba(245, 245, 245, 0.4);
        margin-bottom: 0px;
        font-family: 'Poppins';
        font-size: xx-large;
        font-weight: bolder;

    }
}

.xg-value-div {
    margin-left: 10px;
    margin-bottom: 0;
    margin-top: 0;
    font-size: xx-large;
}

.canvas-holder {
    display: flex;
    margin: 0 auto;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.interactiveSVG {
    border: 10px solid rgba(0,157,0,0.8);
    box-shadow: 0 0 3px rgba(245, 245, 245, 0.5);
}

.drag-obj{
    position: relative;
    border-radius: 50%;
    background-color: yellowgreen;
    top: 180px;
    left: 200px;
    width: 20px;
    height: 20px;
}

.drag-obj {
    &:hover {
        cursor:move;
      }  
}

.headed-shot {
    margin-bottom: 20px;
}

.info {
    display: table;
    margin: 0 auto;
    width:100%;
    background-color: rgba(30, 144, 255, 0.6);
    border-radius: 2%;
    padding-top: 8px;
    padding-bottom: 1em;
    box-shadow: 0px 0px 15px rgba(30, 144, 255, 0.3);
}

.separator {
    width: 80%;
    height: 1px;
    background-color: whitesmoke;
    margin: 0 auto;
 }

.qa {
    margin: 0 auto;
    width: 80%;
}
.question {
    text-align: center;
    justify-content: start;
    font-weight: bolder;
    font-size: xx-large;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 8px;
    margin-bottom: 8px;
    text-shadow: 0px 0px 4px rgba(245, 245, 245, 0.4);
}

.answer {
    text-align: center;
    justify-content: start;
    margin-left: 20px;
    margin-right: 20px;

    img {
        border: 5px solid black;
        height: 70%;
        width: 70%;
    }
    a {
        text-decoration: none;
        font-weight: bolder;
        color: brown;
    }
}

ul.feature-list{
    display: table; 
    margin: 0 auto;
    text-align: left;
}

#footer-text-img {
    color: fuchsia;
    text-align: center;
    font-size: 15px;
    margin: 0;
}
img#sb-logo {
    width: 100px;
    height: auto;
    display: inline;
}

footer {
    margin-top: 20px;
    margin-bottom: 20px;

    p {
        line-height: 12px;
    }

    a {
        text-decoration: none;
        color: orangered;
        font-weight: bolder;
    }
}


@media (max-width:600px) {
    .site-name {
        font-size: x-large;
    }

    .question {
        font-size: large;
    }

    .answer {
        font-size: x-small;
    }

    ul.feature-list {
        font-size: x-small;
    }

    .interactiveSVG {
        border: 5px solid rgba(0,157,0,0.8);
    }

}

.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.hidden {
    /* The menu is hidden at first */
    display: none;
}

div#menu {
    list-style-type: none;
    border: 1px solid black;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}


