@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  color: white;
}

* a {
  color: purple;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
  background-image: -webkit-gradient(linear, left bottom, left top, from(#344350), color-stop(70%, #12222f));
  background-image: linear-gradient(0deg, #344350 0%, #12222f 70%);
}

.nav-bar {
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(29%, #0f0101), color-stop(66%, #110404));
  background-image: linear-gradient(90deg, #0f0101 29%, #110404 66%);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2%;
  height: 2.7em;
}

.site-name {
  color: fuchsia;
  font-weight: bolder;
  font-size: xx-large;
  margin-top: 0px;
  margin-left: 30px;
  text-shadow: 0px 0px 4px dodgerblue;
}

.helper-div {
  margin: auto;
  width: 50%;
}

.helper-div p {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0;
  text-align: center;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.3);
  font-size: small;
}

.helper-text {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 5px auto;
}

.helper-text:hover {
  color: white;
}

.xg-counter {
  font-family: 'Poppins';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: xx-large;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.xg-counter h3 {
  text-shadow: 0px 0px 4px rgba(245, 245, 245, 0.4);
  margin-bottom: 0px;
  font-family: 'Poppins';
  font-size: xx-large;
  font-weight: bolder;
}

.xg-value-div {
  margin-left: 10px;
  margin-bottom: 0;
  margin-top: 0;
  font-size: xx-large;
}

.arrow {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-top: 4px solid #000;
  border-right: 4px solid #000;
  margin-left: 20px;
}

.arrow-top {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  border-color: chartreuse;
}

.arrow-bottom {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  border-color: crimson;
}

.canvas-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
}

.interactiveSVG {
  border: 10px solid rgba(0, 157, 0, 0.8);
  -webkit-box-shadow: 0 0 3px rgba(245, 245, 245, 0.5);
          box-shadow: 0 0 3px rgba(245, 245, 245, 0.5);
}

.drag-obj {
  position: relative;
  border-radius: 50%;
  background-color: yellowgreen;
  top: 180px;
  left: 200px;
  width: 20px;
  height: 20px;
}

.drag-obj:hover {
  cursor: move;
}

.headed-shot {
  margin-bottom: 20px;
}

.legend {
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.info {
  display: table;
  margin: 0 auto;
  width: 90%;
  padding: 0;
  background-color: rgba(30, 144, 255, 0.6);
  border-radius: 2%;
  padding-top: 8px;
  padding-bottom: 1em;
  -webkit-box-shadow: 0px 0px 15px rgba(30, 144, 255, 0.3);
          box-shadow: 0px 0px 15px rgba(30, 144, 255, 0.3);
  margin-top: 20px;
}

.separator {
  width: 80%;
  height: 1px;
  background-color: whitesmoke;
  margin: 0 auto;
}

.qa {
  margin: 0 auto;
  width: 80%;
}

.question {
  text-align: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  font-weight: bolder;
  font-size: xx-large;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
  text-shadow: 0px 0px 4px rgba(245, 245, 245, 0.4);
}

.answer {
  text-align: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-left: 20px;
  margin-right: 20px;
}

.answer img {
  border: 5px solid black;
  height: 70%;
  width: 70%;
}

.answer a {
  font-weight: bolder;
}

img.blockdiagram {
  background-color: white;
}

ul.feature-list {
  display: table;
  margin: 0 auto;
  text-align: left;
}

#footer-text-img {
  color: white;
  text-align: center;
  font-size: 15px;
  margin: 0;
}

img#sb-logo {
  width: 100px;
  height: auto;
  display: inline;
}

footer {
  margin-top: 20px;
  margin-bottom: 20px;
}

footer p {
  line-height: 12px;
}

footer a {
  font-weight: bolder;
  color: white;
}

@media (max-width: 600px) {
  .site-name {
    font-size: x-large;
  }
  .question {
    font-size: large;
  }
  .answer {
    font-size: x-small;
  }
  ul.feature-list {
    font-size: x-small;
  }
  .interactiveSVG {
    border: 5px solid rgba(0, 157, 0, 0.8);
  }
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.hidden {
  /* The menu is hidden at first */
  display: none;
}

div#menu {
  list-style-type: none;
  border: 1px solid black;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
/*# sourceMappingURL=stylesheet.css.map */